.entry {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-right: 16px;
}

.icon {
  border: 1px solid #999;
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 34px;
  height: 22px;

  text-align: center;
  width: 22px;
}

.text {
  position: relative;
  top: 2px;
  left: 4px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.gray {
  background-color: gray;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}
