.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  min-height: 34px;
  min-width: 34px;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.square:focus {
  outline: none;
}

.blocked {
  background-color: black;
}

.visited {
  background-color: gray;
}

.path {
  background-color: yellow;
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}